// HOW TO USE:
//
// 1 Add configuration variables for the various stages here
// 2 Rename this file to env.js
// 3 Make sure to not commit this file.

const dev = {
  apiGateway: {
    REGION: "#{DEV_API_GATEWAY_REGION}#",
    URL: "#{DEV_API_GATEWAY_URL}#",
  },
  cognito: {
    REGION: "#{DEV_COGNITO_REGION}#",
    USER_POOL_ID: "#{DEV_COGNITO_USER_POOL_ID}#",
    APP_CLIENT_ID: "#{DEV_COGNITO_APP_CLIENT_ID}#",
    IDENTITY_POOL_ID: "#{DEV_IDENTITY_POOL_ID}#",
  },
};

const prod = {
  apiGateway: {
    REGION: "#{PROD_API_GATEWAY_REGION}#",
    URL: "#{PROD_API_GATEWAY_URL}#",
  },
  cognito: {
    REGION: "#{PROD_COGNITO_REGION}#",
    USER_POOL_ID: "#{PROD_COGNITO_USER_POOL_ID}#",
    APP_CLIENT_ID: "#{PROD_COGNITO_APP_CLIENT_ID}#",
    IDENTITY_POOL_ID: "#{PROD_IDENTITY_POOL_ID}#",
  }
};


export {
  dev,
  prod
};
