# HOW TO USE:
#
# 1 Add environment variables for the various stages here
# 2 Rename this file to env.yml
# 3 Make sure to not commit this file.

dev:
  APP_NAME: #{DEV_API_NAME}#

  google:
    auth:
      authorizationHost: #{DEV_GOOGLE_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{DEV_GOOGLE_AUTH_TOKEN_HOST}#
      clientId: #{DEV_GOOGLE_CLIENT_ID}#
      clientSecret: #{DEV_GOOGLE_CLIENT_SECRET}#

    api:
      baseUrl: #{DEV_GOOGLE_API_BASE_URL}#

  dropbox:
    auth:
      authorizationHost: #{DEV_DROPBOX_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{DEV_DROPBOX_AUTH_TOKEN_HOST}#
      clientId: #{DEV_DROPBOX_CLIENT_ID}#
      clientSecret: #{DEV_DROPBOX_CLIENT_SECRET}#

    api:
      baseUrl: #{DEV_DROPBOX_API_BASE_URL}#

  feedly:
    auth:
      authorizationHost: #{DEV_FEEDLY_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{DEV_FEEDLY_AUTH_TOKEN_HOST}#
      clientId: #{DEV_FEEDLY_CLIENT_ID}#
      clientSecret: #{DEV_FEEDLY_CLIENT_SECRET}#

    api:
      baseUrl: #{DEV_FEEDLY_API_BASE_URL}#

# this keys are used to get dynamoDB (callback is without authorizer)
  callbackAWSInfo:
    accessKey: #{DEV_AWS_ACCESS_KEY}#
    secretKey: #{DEV_AWS_SECRET_KEY}#


prod:
  APP_NAME: api

  google:
    auth:
      authorizationHost: #{PROD_GOOGLE_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{PROD_GOOGLE_AUTH_TOKEN_HOST}#
      clientId: #{PROD_GOOGLE_CLIENT_ID}#
      clientSecret: #{PROD_GOOGLE_CLIENT_SECRET}#

    api:
      baseUrl: #{PROD_GOOGLE_API_BASE_URL}#

  dropbox:
    auth:
      authorizationHost: #{PROD_DROPBOX_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{PROD_DROPBOX_AUTH_TOKEN_HOST}#
      clientId: #{PROD_DROPBOX_CLIENT_ID}#
      clientSecret: #{PROD_DROPBOX_CLIENT_SECRET}#

    api:
      baseUrl: #{PROD_DROPBOX_API_BASE_URL}#

  feedly:
    auth:
      authorizationHost: #{PROD_FEEDLY_AUTH_AUTHORIZATION_HOST}#
      tokenHost: #{PROD_FEEDLY_AUTH_TOKEN_HOST}#
      clientId: #{PROD_FEEDLY_CLIENT_ID}#
      clientSecret: #{PROD_FEEDLY_CLIENT_SECRET}#

    api:
      baseUrl: #{PROD_FEEDLY_API_BASE_URL}#

  # this keys are used to get dynamoDB (callback is without authorizer)
  callbackAWSInfo:
    accessKey: #{PROD_AWS_ACCESS_KEY}#
    secretKey: #{PROD_AWS_SECRET_KEY}#
